<footer class="container">
    <div class="col-12 text-center my-3">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Disclaimer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Privacy & Policy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
        </ul>
    </div>
    <div class="col-12 text-center my-3">
        &copy; 2021 - <a href="#" class="text-dark text-decoration-none"><strong>First Kit Soccer</strong></a>
    </div>
</footer>